<template>
  <div v-if="!isEmpty">
    <ul class="flex flex-wrap">
      <li
        v-for="item in data"
        :key="item.path"
        class="flex-grow-0 pl-2 pb-2"
      >
        <FrontmatterKeyCard
          :data="item"
        >
        </FrontmatterKeyCard>
      </li>
    </ul>
    <div class="flex justify-end">
      <Pagination />
    </div>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, getCurrentInstance, unref } from '@vue/composition-api'
import FrontmatterKeyCard from '../components/FrontmatterKeyCard.vue';
// @ts-ignore
import { Pagination } from '@vuepress/plugin-blog/lib/client/components'

const useFrontmatterList = () => {
  const vm = getCurrentInstance()

  const frontmatterKey = computed(() => {
    if (!vm) return
    return vm.proxy.$frontmatterKey
  })

  const data = computed(() => {
    const _frontmatterKey = unref(frontmatterKey)
    if (!_frontmatterKey) return

    return _frontmatterKey.list
  })

  const isEmpty = computed(() => {
    const _data = unref(data)
    return !Array.isArray(_data) || _data.length <= 0
  })

  return {
    data,
    isEmpty,
  }
}

export default defineComponent({
  name: 'Layout',

  setup() {
    const { data, isEmpty } = useFrontmatterList()

    return {
      data,
      isEmpty,
    }
  },

  components: {
    FrontmatterKeyCard,
    Pagination,
  },
})
</script>
