<template>
  <div>
    <header class="fixed top-0 left-0 w-full z-20">
      <div class="px-5">
        <div class="my-0 mx-auto w-full max-w-screen-xl">
          <div class="flex justify-between items-center bg-white border-b h-14 lg:h-16">

            <!-- Logo <<< -->
            <div>
              <RouterLink
                :to="$localePath"
              >
                <span
                  v-if="$site.title"
                  class="text-2xl"
                >
                  {{ $site.title }}
                </span>
              </RouterLink>
            </div>
            <!-- >>> Logo -->

            <!-- Navs <<<-->
            <div>
              <nav>
                <ul class="flex items-center">
                  <li v-for="nav in navs" :key="nav.link">
                    <NavLink :data="nav" />
                  </li>
                </ul>
              </nav>
            </div>
            <!-- >>> Navs -->

          </div>
        </div>
      </div>
    </header>
    <main class="w-full mt-14 lg:mt-16">
      <div class="px-5">
        <div class="my-0 mx-auto w-full py-8 max-w-screen-xl">
          <DefaultGlobalLayout />
        </div>
      </div>
    </main>
  </div>
</template>

<script>
import { defineComponent, getCurrentInstance, computed } from '@vue/composition-api'
import GlobalLayout from '@app/components/GlobalLayout.vue'
import NavLink from '../components/NavLink.vue'

const useNavigation = () => {
  const vm = getCurrentInstance()

  const list = computed(() =>
    vm.proxy.$themeLocaleConfig.nav
    || vm.proxy.$site.themeConfig.nav
    || []
  )

  return {
    list,
  }
}


export default defineComponent({
  setup() {
    const { list: navs } = useNavigation()

    return {
      navs,
    }
  },

  components: {
    DefaultGlobalLayout: GlobalLayout,
    NavLink,
  },
})
</script>
