<template>
  <div v-if="!isPagesEmpty">
    <ul
      class="grid grid-cols-1 mx-2 md:grid-cols-2 lg:grid-cols-3 gap-4 md:gap-10"
      itemscope
      itemtype="http://schema.org/Blog"
    >
      <li
        v-for="page in pages"
        :key="page.key"
      >
        <PostCard
          :data="page"
        />
      </li>
    </ul>
    <div class="flex justify-end">
      <Pagination />
    </div>
  </div>

  <Content v-else />
</template>

<script lang="ts">
import { computed, defineComponent, getCurrentInstance, unref } from '@vue/composition-api'
import PostCard from '../components/PostCard.vue';
// @ts-ignore
import { Pagination } from '@vuepress/plugin-blog/lib/client/components'

const usePagination = () => {
  const vm = getCurrentInstance()

  const pagination = computed(() => {
    if (!vm) return
    return vm.proxy.$pagination
  })

  const list = computed(() => {
    const _pagination = unref(pagination)
    if (!_pagination) return
    return _pagination.pages
  })

  const isEmpty = computed(() => {
    const _list = unref(list)
    return !Array.isArray(_list) || _list.length <= 0
  })

  return {
    list,
    isEmpty,
  }
}

export default defineComponent({
  name: 'Layout',

  setup() {
    const { list: pages, isEmpty: isPagesEmpty } = usePagination()

    return {
      pages,
      isPagesEmpty,
    }
  },

  components: {
    PostCard,
    Pagination,
  },
})
</script>
