<template>
  <div class="flex flex-col md:flex-row">
    <div class="flex-1 md:flex-auto md:flex-grow-0 md:flex-shrink-0 md:w-60 md:fixed">
      <Toc class="hidden md:block" />
    </div>
    <div class="flex-1 relative md:ml-60 md:pl-10">
      <Content />
      <Comment class="mt-20 md:mt-80" />
    </div>
  </div>
</template>

<script>
import { defineComponent } from '@vue/composition-api'
import Toc from '../components/Toc.vue'
import { Comment } from '@vuepress/plugin-blog/lib/client/components'

export default defineComponent({
  components: {
    Toc,
    Comment,
  },
})
</script>
