<template>
  <div class="p-2 rounded border-2 hover:border-vuepress-accent">
    <RouterLink
      :to="data.path"
    >
      {{ data.name }} ({{ countOfPast }})
    </RouterLink>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, toRefs, unref } from '@vue/composition-api'
import type { Ref } from '@vue/composition-api'

const useCountOfPast = (data: Ref<any>) => {
  const value = computed(() => {
    const _data = unref(data)
    return _data.pages.length
  })

  return {
    value,
  }
}

export default defineComponent({
  props: {
    data: {
      type: Object,
      required: true,
    },
  },

  setup(props) {
    const { data } = toRefs(props)
    const { value: countOfPast } = useCountOfPast(data)

    return {
      countOfPast,
    }
  },
})
</script>
