<template>
  <a v-if="isExternalLink"
    :href="data.link"
    target="_blank"
    ref="noopener noreferrer">
    <div class="flex items-center h-8 px-3 hover:bg-gray-100">
      {{ data.text }}
      <OutboundLink />
    </div>
  </a>
  <RouterLink
    v-else
    :to="data.link">
    <div class="flex items-center h-8 px-3 hover:bg-gray-100">
      {{ data.text }}
    </div>
  </RouterLink>
</template>

<script lang="ts">
import { computed, defineComponent, toRefs, unref } from '@vue/composition-api'

const reExternalLink = /^[a-z]+:/i

export default defineComponent({
  props: {
    data: {
      type: Object,
      required: true,
    }
  },

  setup(props) {
    const { data } = toRefs(props)
    const isExternalLink = computed(() => {
      const _data = unref(data)
      if (!_data) return false

      return reExternalLink.test(_data.link)
    })

    return {
      isExternalLink,
    }
  },
})
</script>
