<template>
  <article
    itemprop="blogPost"
    itemscope
    itemtype="https://schema.org/BlogPosting"
    class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden hover:border-vuepress-accent"
  >

    <meta
      itemprop="mainEntityOfPage"
      :content="data.path"
    />

    <div class="flex flex-col h-full p-6">
      <h1
        class="title-font text-lg font-medium text-gray-900 mb-3"
      >
        {{ data.title }}
      </h1>

      <div class="mb-3">
        <ul
          class="text-gray-400 inline-block space-x-2 leading-none text-sm"
          itemprop="keywords"
        >
          <li
            v-for="tag in tags"
            :key="tag.key"
            class="inline-block"
          >
            <RouterLink
              class="hover:text-vuepress-accent focus:text-vuepress-accent"
              :to="tag.path"
            >
              {{ tag.key }}
            </RouterLink>
          </li>
        </ul>
      </div>

      <p
        class="flex-1 leading-relaxed mb-3 break-words"
        itemprop="description"
      >
        {{ data.frontmatter.summary }}
      </p>

      <div class="flex items-center flex-wrap">
        <RouterLink
          class="text-vuepress-accent inline-flex items-center md:mb-2 lg:mb-0"
          :to="data.path"
        >
          繼續閱讀
          <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path d="M5 12h14"></path>
            <path d="M12 5l7 7-7 7"></path>
          </svg>
        </RouterLink>
        <span class="text-gray-400 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm py-1">
          <time
            pubdate
            itemprop="datePublished"
            :datetime="date"
          >
            {{ dateText }}
          </time>
        </span>
      </div>
    </div>
  </article>
</template>

<script lang="ts">
import { format } from 'date-fns'
import { computed, defineComponent, getCurrentInstance, PropType, ref, toRefs, unref } from '@vue/composition-api'
import type { Ref } from '@vue/composition-api'
import type { PageComputed } from 'vuepress-types'

const useDate = (data: Ref<PageComputed>) => {
  const date = computed(() => {
    const _data = unref(data)
    if (!_data) return
    const _frontmatter = _data.frontmatter
    if (!_frontmatter) return

    return _frontmatter.date
  })

  const text = computed(() => {
    const _date = unref(date)
    if (!_date) return

    return format(new Date(_date), 'yyyy/MM/dd')
  })

  const isEmpty = computed(() => {
    const _text = unref(text)
    return typeof _text !== 'string' || _text.length <= 0
  })

  return {
    date,
    text,
    isEmpty,
  }
}

const useTag = (data: Ref<PageComputed>, dirPath: string) => {
  const list = computed(() => {
    const _data = unref(data)
    if (!_data) return
    const _frontmatter = _data.frontmatter
    if (!_frontmatter) return
    const tags = _frontmatter.tags
    if (!tags) return

    const tags2 = Array.isArray(tags)
      ? tags
      : [tags]

    return tags2.map((tag) => ({
      key: tag,
      path: `${dirPath}/${tag}`,
    }))
  })

  const isEmpty = computed(() => {
    const _list = unref(list)
    return !Array.isArray(_list) || _list.length <= 0
  })

  return {
    list,
    isEmpty,
  }
}

export default defineComponent({
  props: {
    data: {
      type: Object as PropType<PageComputed>,
      required: true,
    }
  },

  setup(props) {
    const { data } = toRefs(props)
    const { list: tags, isEmpty: isTagsEmpty } = useTag(data, '/tag')
    const { text: dateText, isEmpty: isDateEmpty, date } = useDate(data)

    return {
      tags,
      isTagsEmpty,
      date,
      dateText,
      isDateEmpty,
    }
  },
})
</script>
