<template>
  <div
    ref="listScroller"
    class="overflow-y-auto"
  >
    <ul class="space-y-2">
      <!-- <li
        v-for="(header, index) in headers"
        ref="items"
        :key="index"
        :class="[
          'overflow-hidden',
          `ml-${header.level - 2}`,
          {
            'text-vuepress-accent': activeIndex === index,
          }
        ]"
      >
        <a class="overflow-hidden overflow-ellipsis whitespace-nowrap"
          :href="`#${header.slug}`"
          :title="header.title">
          {{ header.title }}
        </a>
      </li> -->
      <TocItem
        v-for="(header, index) in headers"
        ref="items"
        :key="index"
        :data="header"
        :active="activeIndex === index"
      ></TocItem>
    </ul>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, getCurrentInstance, onMounted, onUnmounted, ref, unref, watch } from '@vue/composition-api'
import { templateRef } from '@vueuse/core';
import TocItem from './TocItem.vue'
import type { Ref } from '@vue/composition-api'

const getAbsoluteTop = (dom: HTMLElement) =>
  dom && dom.getBoundingClientRect
  ? dom.getBoundingClientRect().top +
    document.body.scrollTop +
    document.documentElement.scrollTop
  : 0

const useNavigation = (props: {
  data: Ref<any[]>,
  $listScroller: Ref<HTMLElement | null>,
  $contentScroller: Ref<HTMLElement | Window | null>,
  getItemDom: (i: number, item: any) => HTMLElement | undefined | null,
  getItemTargetDom: (i: number, item: any) => HTMLElement | undefined | null,
}) => {
  let scrollTop: number = 0
  const activeIndex = ref(0)

  const setActive = () => {
    const data = unref(props.data) || []
    let i = 0, l = data.length

    for (; i < l; i++) {
      const item = data[i]
      const dom = props.getItemTargetDom(i, item)
      if (!dom) continue
      const top = getAbsoluteTop(dom)
      if (top - 50 < scrollTop) {
        activeIndex.value = i
      } else {
        if (!i) activeIndex.value = i
      }
    }
  }

  const handleScroll = () => {
    const $contentScroller = unref(props.$contentScroller)
    scrollTop = document.body.scrollTop + (
      $contentScroller === null
        ? 0
        : $contentScroller === window
          ? document.documentElement.scrollTop
          : ($contentScroller as HTMLElement).scrollTop
    )
    setActive()
  }

  watch(activeIndex, (_activeIndex) => {
    const $listScroller = unref(props.$listScroller)
    if (!$listScroller) return

    const item = unref(props.data)[_activeIndex]
    const dom = props.getItemDom(_activeIndex, item)
    if (!dom) return

    const rect = dom.getBoundingClientRect()
    const wrapperRect = $listScroller.getBoundingClientRect()
    const top = rect.top - wrapperRect.top
    if (top < 20) {
      $listScroller.scrollTop = $listScroller.scrollTop + top - 20
    } else if (top + rect.height > wrapperRect.height) {
      $listScroller.scrollTop += rect.top - (wrapperRect.height - rect.height)
    }
  }, { flush: 'post' })

  watch(props.$contentScroller, (_$el, _$oldEl) => {
    if (_$oldEl) _$oldEl.removeEventListener('scroll', handleScroll)
    if (_$el) _$el.addEventListener('scroll', handleScroll)
  })

  onMounted(() => {
    setTimeout(() => setActive(), 1000)
  })

  return {
    activeIndex,
  }
}

export default defineComponent({
  setup() {
    const vm = getCurrentInstance()
    const headers = computed(() => vm.proxy.$page.headers)
    const $items = templateRef('items', null)
    const $listScroller = templateRef<HTMLElement | null>(null)
    const $contentScroller = ref<Window | null>(null)
    const { activeIndex } = useNavigation({
      data: headers,
      $listScroller,
      $contentScroller,
      getItemDom: (i) => {
        const _$items: HTMLElement[] = unref($items)
        if (Array.isArray(_$items)) return _$items[i]
      },
      getItemTargetDom: (i, item) => {
        return document.getElementById(item.slug)
      },
    })

    onMounted(() => $contentScroller.value = window)

    return {
      headers,
      activeIndex,
    }
  },
  components: {
    TocItem,
  },
})
</script>
