<template>
  <li
    :class="[
      'overflow-hidden',
      {
        'ml-0': level === 0,
        'ml-3': level === 1,
        'ml-5': level === 2,
        'ml-7': level === 3,
        'ml-9': level === 4,
      },
      {
        'text-vuepress-accent': active,
      },
    ]"
  >
    <a class="overflow-hidden overflow-ellipsis whitespace-nowrap"
      :href="`#${data.slug}`"
      :title="data.title">
      {{ data.title }}
    </a>
  </li>
</template>

<script lang="ts">
import { computed, defineComponent } from '@vue/composition-api'
import type { Ref } from '@vue/composition-api'

export default defineComponent({
  props: {
    data: {
      type: Object,
      required: true,
    },
    active: {
      type: Boolean,
      default: false,
    }
  },

  setup(props) {
    const level = computed(() => props.data.level - 2)

    return {
      level,
    }
  }
})
</script>
